/* Variables */
:root {
  --avr-color-surface: #fff;
  --avr-color-surface-rgb: 255, 255, 255;
  --avr-color-primary-500: #6034e7;
  --avr-color-primary-500-rgba: 96, 52, 231;
  --avr-text-roboto-thin: 100;
  --avr-text-roboto-regular: 400;
}

/* Resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/* Main section */
.intro-smoke {
  position: absolute;
  top: -100px;
  right: -0px;
  z-index: 0;
}

main {
  width: 100%;
  height: 100vh;
  background: var(--avr-color-surface);

  padding: 5% 0;
}

.hero-card {
  /* TODO: center after we have content and clean main padding maybe */
  position: relative;
  z-index: 10;

  margin: 0 auto;
  width: 90%;
  max-width: 95rem;
  background-color: rgba(var(--avr-color-surface-rgb), 0.32);

  border-radius: 50px;
  border: 1px solid var(--avr-color-surface);

  box-shadow: 0 4px 4px 0 rgba(var(--avr-color-primary-500-rgba), 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  padding: 15rem 0;

  overflow: hidden;
}

.intro-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

.logo-box {
  display: flex;
  align-items: flex-end;
  gap: 3rem;
}

.logo-box span {
  width: 15rem;
  font-size: 24px;
  font-weight: var(--avr-text-roboto-thin);
}

.intro-buttons {
  display: flex;
  gap: 1rem;
}

.notify-me {
  display: flex;
  align-items: center;
}

.notify-me button {
  margin-left: -40px;
}

/* First section: our platform */
section.our-platform {
  width: 100%;
  height: 100vh;
  background-color: green;
}

/* Reusable styles */
.avr-button {
  background-color: var(--avr-color-primary-500);
  color: var(--avr-color-surface);
  font-family: var(--avr-text-roboto-regular);
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  border: none;
  transition: opacity 0.1s ease-in-out;
}

.avr-button:hover {
  cursor: pointer;
  /* background-color: rgba(#fff, 1); */
  opacity: 0.9;
}

.avr-button:active {
  opacity: 0.8;
}

.avr-input {
  padding: 0rem 1.5rem;
  min-width: 30rem;
  height: 100%;
  border-radius: 2rem;
  border: 1px solid rgba(var(--avr-color-primary-500-rgba), 0.5);
}

.avr-input::placeholder {
  font-size: 16px;
  font-weight: var(--avr-text-roboto-thin);
  color: rgba(var(--avr-color-primary-500-rgba), 0.5);
}

.avr-input:focus {
  outline: none;
}

/* TODO: media queries have to go to the end, this is plain css.. */

/* Media queries */
@media screen and (max-width: 1280px) {
  .hero-card {
    flex-direction: column;
    padding: 7.5rem 0;
  }
}

@media screen and (max-width: 1024px) {
  .hero-card {
    gap: 5rem;
    padding: 5rem 0;
  }

  .intro-main {
    align-items: center;
  }

  .logo-box {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .intro-buttons {
    justify-content: center;
  }

  .logo-box span {
    width: 100%;
  }

  .avr-input {
    min-width: 15rem;
  }
}
